.search-bar {
    width: 100%;
    min-width: 350px;
    max-width: 700px;
}

.total-time {
    font-size: 30px;
}

.check-box-wrapper {
    width: 100%;
    text-align: left;
}

.search-bar-wrapper {
    width: 50%;
    min-width: 350px;
    max-width: 700px;
    margin: 0 auto 0 auto;
}

.no-meta {
    max-width: 700px;
    margin: 0 auto 0 auto;
}

p {
    margin-bottom: 30px;
}

button {
    margin-top: 30px;
}