
<div class="search-bar-wrapper">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" action="">
        <mat-form-field class="search-bar" appearance="outline">
            <mat-label>Google Drive Folder Url</mat-label>
            <input matInput placeholder="https://drive.google.com/drive/u/0/folders/" formControlName="url">
        </mat-form-field>
        </form>
        <div class="check-box-wrapper">
            <mat-checkbox [(ngModel)]="includeSubFolders">Include Sub Folders</mat-checkbox>
        </div>
</div>


<p class="total-time">{{duration}}</p>