.search-bar {
    min-width: 350px;
    max-width: 700px;
    width: 100%;
}

.submit-button {
    margin: auto;
}

.input-wrapper {
    display: flex; /* Add flexbox to align items horizontally */
    align-items: center; /* Vertically align items */
    gap: 10px; /* Add space between input and button */
}

.total-time {
    font-size: 30px;
}

.check-box-wrapper {
    width: 100%;
    text-align: left;
}

.search-bar-wrapper {
    width: 50%;
    min-width: 350px;
    max-width: 700px;
    margin: 0 auto;
}

.no-meta {
    max-width: 700px;
    margin: 0 auto;
}

p {
    margin-bottom: 30px;
}

.force-button {
    margin-top: 30px;
}
